body{
	margin: 0;
	height: 100vh;
	display:  flex;
	justify-content: center;
	align-items: center;
}

.box{
	height: 50px;
	width: 50px;
	background: lightblue;
	position: absolute;
	display: block;
}

.container{
	height: 800px;
	width: 800px;
	background: lightcoral;
	overflow: hidden;
	display: block;
}